sender=user%40domain.com&value-XYZ=Some+string&value2=1234567890&box=skdhgfjkdsjk gkjdhg djhgkj djgfhkj hdghkj hdgfkjh jkdfgjkh kjdgf
fvkjklgfjdkflgkldfgjkdljfv lkdfvjkldjf vgdkljfv
d dvgkdgvl;kdl;fkl;d;vld
dvldkvl;dkvl;kdv;l